.garis{
    border-left: 2px #62713e solid;
    height: 98px;
    width: 0px;
    margin-left: -44px;
    padding-left: 20px;
}

.garis2{
    border-left: 2px #62713e solid;
    height: 98px;
    width: 0px;
    margin-left: -46px;
    padding-left: 27px;
}

.garis3{
    border-left: 2px #62713e solid;
    height: 98px;
    width: 0px;
    margin-left: -3px;
    padding-left: 38px;
}