.card-slide{
    width: 71%;
    
}

.no-gutters{
    width: 70%;
    margin-left: 23px
}

.card-img{
    width: 172%;
    margin-left: -24px;
}

.logo-slide{
    margin-left: 370px;
}

.card-texts{
    font-size: 20px;
}

.text-small{
    margin-left: 250px;
    margin-right: -230px;
    font-size: 15px;
}

.card-texts{
        margin-left: 169px;
}

.text-small{
    margin-left: 250px;
}

.path-2{
    margin-left: 24px;
}