.tabs{
    margin-left: 100px;
    margin-top: 155px;
}

.car-web{
    width: 678px;
    height: 36px;
    object-fit: contain;
    font-family: HKGrotesk;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #4e4e4e;
}

.car-andro{
    width: 678px;
    height: 36px;
    object-fit: contain;
    font-family: HKGrotesk;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #4e4e4e;
    margin-left: -333px;
}

.car-ios{
    width: 678px;
    height: 36px;
    object-fit: contain;
    font-family: HKGrotesk;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #4e4e4e;
}

.tab-content{
    margin-left: -56px;
}

.nav-tabs{
    margin-left: -299px;
    width: 10000px;
}