.bc-careers{
    background-image: url(public/img/home/background2.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.input-careers{
  background: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-size: 14px;

  width: 200px;
}
.icon-careers{
  width: 288px;
  height: 320px;
  object-fit: contain;
  margin-left: 557px;
  margin-top: -535px;
}
.enter{
  color: #62713e;
  margin-left: 72px;
    margin-top: -33px;
}
.button-careers{
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.22);
  margin-top: 15px;
  background-color: #9CCC36;
}
.hi-careers{
  color: #62713e;
     margin-bottom: -25px;
    padding-bottom: 10px;
    margin-left: -34px
}
.careers-home{
  margin-left: -85px;
}
.line-careers hr{
  width: 1014px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid #9CCC36;
  margin-left: -227px;
}
.careers-pic-1 img{
    margin-right: 10px;
    margin-left: -244px;
    margin-top: -87px;
    margin-bottom: -57px;
    width: 151px;
    height: 198px;
    object-fit: contain
  }
.careers-us h2{
    font-size: 42px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 50px;
    text-align: center;
}
.careers-p{

    object-fit: contain;
    font-family: HKGrotesk;
      letter-spacing: normal;
    text-align: center;
    color: #62713e;
}
.dev-web{

    width: 496px;
    height: 36px;
    object-fit: contain;
    font-family: HKGrotesk;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #7fb92d;
    margin-left: -226px;
}
.dev-android{
  margin-left: 191px;
  margin-top: -36px;
  width: 678px;
  height: 36px;
  object-fit: contain;
  font-family: HKGrotesk;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #4e4e4e;
}
.dev-ios{
  margin-left: 648px;
  margin-top: -36px;
  width: 678px;
  height: 36px;
  object-fit: contain;
  font-family: HKGrotesk;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #4e4e4e;

}
.text-careers{
  margin-left: -229px;
  width: 1075px;
  height: 124px;
  object-fit: contain;
  font-family: HKGrotesk;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #62713e;
  
}
.requirement h1 {
  width: 216px;
  height: 39px;
  object-fit: contain;
  font-family: HKGrotesk;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #4e4e4e;
  margin-left: -227px
}
.requirement-1{
  width: 983px;
  height: 138px;
  object-fit: contain;
  font-family: HKGrotesk;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #62713e;
  margin-left: -224px;
}
.apply h1{
    object-fit: contain;
    font-family: HKGrotesk;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #62713e;
    margin-right: -55px;
}
.input-career{
  width: 827.5px;
  height: 30.8px;
  object-fit: contain;
  border-radius: 5px;
  border: solid 1px #707070;
  background-color: #ffffff;
  margin-left: -115px;
}
.input-career-1{
  width: 827.5px;
  height: 219.8px;
  object-fit: contain;
  border-radius: 5px;
  border: solid 1px #707070;
  background-color: #ffffff;
  margin-left: -115px;
}

.label-career{
   width: 284px;
  height: 36px;
  object-fit: contain;
  font-family: HKGrotesk;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #62713e;
  margin-bottom: -5px;
  margin-left: -105px;
}
.attach{
  width: 205px;
  height: 36px;
  object-fit: contain;
  font-family: HKGrotesk;
  font-size: 21px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #62713e;
  margin-left: -117px;
}
.button-career{
  color: #ffffff;
  width: 153.5px;
    height: 37px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.19);
    margin-left: -119px;
    background-color: #8a8a8a;
}
.button-career-1{
  color: #ffffff;
  width: 827.5px;
    height: 53.8px;
    margin-left: -117px;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #7fb92d;
}

.enter-career{
  margin-left: 51px;
    margin-top: -27px;
    margin-bottom: -13px;
    width: 215px;
    height: 36px;
    object-fit: contain;
    font-family: HKGrotesk;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #62713e;
}
