.bc-contact{
    background-image: url(public/img/home/background2.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.input-contact{
  background: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-size: 14px;

  width: 200px;
}
.icon-contact{
  width: 288px;
  height: 320px;
  object-fit: contain;
  margin-left: 557px;
  margin-top: -535px;
}
.enter{
  color: #62713e;
  margin-left: 72px;
    margin-top: -33px;
}
.button-contact{
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.22);
  margin-top: 15px;
  background-color: #9CCC36;
}
.hi-contact{
  color: #62713e;
     margin-bottom: -25px;
    padding-bottom: 10px;
    margin-left: -34px
}
.contact-home{
  margin-left: -85px;
}
.line-contact hr{
  width: 1014px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid #9CCC36;
  margin-left: -227px;
}
.contact-pic-1 img{
    margin-right: 10px;
    margin-left: -235px;
    margin-top: -85px;
    margin-bottom: -49px;
  }
.contact-us h2{
    font-size: 42px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 50px;
    text-align: center;
}
.contact-p{

    object-fit: contain;
    font-family: HKGrotesk;
      letter-spacing: normal;
    text-align: center;
    color: #62713e;
}
